@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">MaterialBlazorApp</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
    </div>

    @code {
        bool collapseNavMenu = true;

        string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }


    <br />*@


<MatNavMenu Class="text-info">
    <MatNavItem>Item 1</MatNavItem>
    <MatNavItem Disabled="true" Class="text-muted">Item 2</MatNavItem>
    <MatNavSubMenu @bind-Expanded="@navSubMenuOpenState">
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false"><MatIcon Icon="all_inbox"></MatIcon>&nbsp; Item 3 - Expanded: @navSubMenuOpenState</MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            <MatNavItem Href="#">Item 3.A&nbsp; <MatIcon Icon="backup"></MatIcon></MatNavItem>
            <MatNavItem>Item 3.B&nbsp; <MatIcon Icon="build"></MatIcon></MatNavItem>
            <MatNavItem>Item 3.C&nbsp; <MatIcon Icon="explore"></MatIcon></MatNavItem>
        </MatNavSubMenuList>
    </MatNavSubMenu>
    <MatNavItem><MatIcon Icon="grade"></MatIcon>&nbsp; Item 4 </MatNavItem>
    <MatDivider></MatDivider>
    <MatNavItem><MatIcon Icon="face"></MatIcon>&nbsp; Item 5</MatNavItem>
    <MatNavSubMenu>
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false" ><MatIcon Icon="explore"></MatIcon>&nbsp; Item 6</MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            <MatNavItem Disabled="true" Href="#">Item 6.A</MatNavItem>
            <MatNavItem>Item 6.B</MatNavItem>
            <MatNavItem>Item 6.C</MatNavItem>
        </MatNavSubMenuList>
    </MatNavSubMenu>
    <MatNavItem Href="/" ><MatIcon Icon="explore"></MatIcon>&nbsp; Home</MatNavItem>
    <MatNavItem Href="counter"><MatIcon Icon="explore"></MatIcon>&nbsp; Counter</MatNavItem>
    <MatNavItem Href="fetchdata"><MatIcon Icon="explore"></MatIcon>&nbsp; Fetch data</MatNavItem>
</MatNavMenu>


@code
{
    bool navSubMenuOpenState;
}
